<div class="row">
    <div class="col"></div>
    <div class="col">
        <h2>Login Page</h2>
        <form [formGroup]="myForm" (ngSubmit)="handleSubmit()">
            <div class="mb-2">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" formControlName="username">
            </div>
            <div class="mb-2">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <div class="mb-2">
                <button type="submit" class="btn btn-primary">Login</button>
                <p class="text-danger">{{errorMessage}}</p>
            </div>
            <div class="mb-2">
                <h4>New User? <a routerLink="/signup">Register</a></h4>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
