<div class="row">
    <div class="col"></div>
    <div class="col">
        <h2>Register Page</h2>
        <form [formGroup]="myForm" (ngSubmit)="handleSubmit()">
            <div class="mb-2">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" formControlName='firstName' placeholder="Enter first name">
                <p class="text-danger" *ngIf="firstName.invalid && firstName.touched && firstName.getError('required')">
                    First Name is required
                </p>
            </div>
            <div class="mb-2">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" formControlName='lastName' placeholder="Enter last name">
                <p class="text-danger" *ngIf="lastName.invalid && lastName.touched && lastName.getError('required')">
                    Last Name is required
                </p>
            </div>
            <div class="mb-2">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" formControlName='username' placeholder="Enter username">
                <p class="text-danger" *ngIf="username.invalid && username.touched && username.getError('required')">
                    Username is required
                </p>
            </div>
            <div class="mb-2">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" formControlName='password' placeholder="Enter password">
                <p class="text-danger" *ngIf="password.invalid && password.touched && password.getError('required')">
                    Password is required
                </p>
            </div>
            <!-- <input type="hidden" formControlName="role"/> -->
            <div class="mb-2">
                <label class="form-label">User Role</label>
                <select formControlName="role" class="form-select">
                    <option value="">Select a role</option>
                    <option value="USER">USER</option>
                    <option value="ADMIN">ADMIN</option>
                </select>
                
                <p class="text-danger" *ngIf="role.invalid && role.touched && role.getError('required')">
                  User role is required
                </p>
            </div>
            <div class="mb-2">
                <button type="submit" class="btn btn-primary">Register</button>
                <p class="text-danger">{{errorMessage}}</p>
            </div>
            <div class="mb-2">
                <h4>Registered User? <a routerLink="/login">Login</a></h4>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>